.basicButtonStyle {
	background: none;
	outline: none;
	border: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	outline: none;
	border: 1px solid #eee;
	border-radius: 25px;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #eee;
	cursor: pointer;
	padding: 8px 20px;
	transition: all 0.4s ease-in-out;
	width: 100%;
	> span {
		> svg {
			vertical-align: bottom;
			margin-right: 5px;
			font-size: 18px;
		}
	}
	&:hover {
		background-color: #d41763;
		color: #fff;
		border: 1px solid #d41763;
	}
}

.container {
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
}
.content_section {
	display: flex;
	flex-direction: column;
	//padding: 5px 10px;
	> div:first-child {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		> h5 {
			margin-top: 5px;
			margin-bottom: 5px;
			margin-left: 5px;
			text-align: left;
			color: #eee;
		}
	}
}
.drawer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 0px;
	overflow: hidden;
	background-color: #eee;
	transition: height 0.5s ease-in-out;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.drawer_expanded {
	@extend .drawer;
	height: 185px;
}
.image_backdrop {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 16/9;
	position: relative;
	> span {
		> img {
			transition: all 0.4s ease;
			&:hover {
				transform: scale(1.07);
			}
		}
	}
}

.description {
	color: #595959;
	font-size: 14px;
	text-align: center;
	margin-bottom: 20px;
	padding: 0 10px;
	flex: 1;
}
.link_container {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	padding: 0 10px;
	margin-bottom: 15px;
	width: 100%;
}
.btn_link {
	@extend .basicButtonStyle;
}
.btn_link_inverse {
	@extend .basicButtonStyle;
	margin-left: 15px;
	background-color: #eee;
	color: black;
	border: 1px solid black;
	&:hover {
		background-color: #d41763;
		color: #fff;
		border: 1px solid #d41763;
	}
}
.tag_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
	> div:not(:last-child) {
		margin-right: 8px;
	}
}
.tag_badge {
	font-weight: bold;
	font-size: 8px;
	padding: 5px;
	border: 1px solid #d41763;
	border-radius: 20px;
	color: #fff;
	background-color: #d41763;
	@media (min-width: 350px) {
		font-size: 10px;
	}
}
.btn_expand {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	height: 30px;
	//padding: 0 8px;
	cursor: pointer;
	transition: all 0.4s ease;
	> svg {
		font-size: 18px;
		color: #d41763;
	}
}
.btn_expand_rotate {
	@extend .btn_expand;
	transform: rotate(180deg);
}
